/* Webpath Start */

.webpath{
    margin-bottom: 20px;
}

.webpath a{
    color: #D62828;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    white-space: nowrap;
    text-decoration: underline;
}

.webpath a:visited{
    border: none;
}

/* Webpath End */

/* Trang tin tuc Start */

/* .tintuc_header Start */

.tintuc_header{
    height: 60px;
}

.tintuc_header_img{
    display: inline;
    position: absolute ;
}

.tintuc_header_img a{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.linktintuc{
    font-size: 18px;
    float: right;
    margin-top: 16px;
    margin-right: 50px;
}

.linktintuc a{
    font-size: 16px;
}

.linktintuc a:visited{
    text-decoration: none;
    
}

/* .tintuc_header End */

/* inline-menu Start */

.inline-menu{
    padding-top: 14px;
}

ul.news-filter{
    list-style-type: none;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    flex-wrap: wrap;
    padding-left: 0px;
}

.inline-menu ul li{
    display: inline-block;
}

.inline-menu ul li a{
    height: 34px;
    display: inline-flex;
    padding: 7px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #444;
    background-color: #f8f8f8;
    transition: all 0.08s ease-in-out;
}

.inline-menu ul li a:hover{
    background-color: #ff6700;
    color: #fff;
}

/* inline-menu End */

/* news-main Start */
.news-main-right{
    border-left: 1px solid #e5e5e5;
    padding-left: 30px;
}

.title-news-sale{
    height: 30px;
    background-color: #f8f8f8;
    color: black;
    padding-left: 50px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.news-main-right ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.news-main-right ul li{
    border-bottom: 1px dotted #e5e5e5;
    padding: 15px 0;
}

.news-main-right ul li a{
    display: grid;
    font-size: 12px;
    grid-template-columns: 200px auto;
    grid-gap: 10px;
    transition: all 0.08s ease-in-out;
    text-decoration: none;
    color: black;
}

.news-main-right ul li a:hover{
    color: #ff6700;
}
/* news-main End */

/* Muc san pham Start */

.muc-san-pham{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.category-title{
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #D62828;
    margin-bottom: 10px;
    border: 1px solid black;
}

.product-card{
    margin-bottom: 50px;
}

.product-card img{
    width: 100%;
    transition: transform 0.5s;
}

.product-card:hover img{
    transform: scale(1.10);
}

.product-text{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #363636;
    padding: 7px 0px;
}

.card-title{
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.product-card:hover .card-title {
    color: #ff6700;
}

.origin-number {
    text-decoration: line-through;
}

.discount-number {
    color: #D62828;
}

/* Muc san pham End */

/* Trang tin tuc End */